// 混合工具样式

// 弹性布局
@mixin flex-center($direction: initial) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

// 绝对定位
@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

// 文本省略
@mixin text-ellipsis($line-clamp: 1) {
  @if $line-clamp == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
  }
}
