// 使用 scss 的 math 函数 https://sass-lang.com/documentation/modules/math/
@use 'sass:math';

// 定义设计稿的基准尺寸
$design-width: 1920;
$design-height: 1080;

// px 转为 vw 的函数
@function vw($px) {
  @return math.div($px, $design-width) * 100vw;
}

// px 转为 vh 的函数
@function vh($px) {
  @return math.div($px, $design-height) * 100vh;
}
